html {
    font-family: Ubuntu, Arial, FreeSans, serif;
}
nav a {
    color: #d64161;
    font-size: 2em;
    margin-left: 50px;
    text-decoration: none;
}
.item_list table {
    font-size: 1em;
    text-align: left;
}

tr.table_row:hover{
    background-color: lightgray;
}
.item_list th {
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    border-bottom: 3px solid royalblue;
}
.item_list td{
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid lightsteelblue;
}
.item_list td.quantity,th.quantity {
    text-align: center;
}

div.item_list label {
    display: inline-block;
    width: 100px;
}

div.item_list input {
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

div.item_list input.description {
    width: 200px;
}

div.item_list input.name {
    width: 150px;
}

div.item_list input.quantity {
    width: 100px;
}

div.submit button{
    font-size: 1.0em;
    width: 100px;
    margin-top: 1em;
}