html {
#    font-family: Ubuntu, Arial, FreeSans, serif;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
nav a {
    color: #d64161;
    font-size: 2em;
    text-decoration: none;
    margin-left: 50px;
}
.item_list table {
    font-size: 1em;
    text-align: left;
}

tr.table_row:hover{
    background-color: lightgray;
}
.item_list th {
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    border-bottom: 3px solid royalblue;
}
.item_list td{
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid lightsteelblue;
}
.item_list td.quantity,th.quantity {
    text-align: center;
}

.item_list td.edit {
    border-width: 0;
    width: 5%;
    text-align: center;
    background-color: #FFFFFF;
}

.item_list td.edit:hover {
    background-color: #FFFFFF;
}
.item_list td.edit a {
    text-decoration: none;
}

div.item_list label {
    display: inline-block;
    width: 100px;
}

div.item_list input {
    width: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

div.item_list input.description {
    width: 200px;
}

div.item_list input.name {
    width: 150px;
}

div.item_list input.quantity {
    width: 100px;
}

div.submit button{
    font-size: 1.0em;
    width: 100px;
    margin-top: 1em;
}
div.dropdown_manage {
    display:inline-block;
    position: relative;
}

div.dropdown_manage_content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: whitesmoke;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 2px;
    margin-left: 10px;
}

a.dropdown_manage_content{
    font-size: 1.4em;
    color: lightcoral;
    margin: 1.1em 0px 1.1em 40px;
}

a.dropdown_manage_content:hover {
    color: darkblue;
}


div.dropdown_manage:hover div.dropdown_manage_content {
    display: block;
}

div.create{
    margin-top: 20px;
}

div.create a{
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}


