
{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Add a New Item in the Store {% endblock %}</h1>
    <form method="post">
        <div class="item_list">
            <label for="item_name">Name</label>
            <input type="text" name="item_name"
                   placeholder="Name (unique)"
                   class="name"
                   value="{{ request.form['item_name'] }}"/>
        </div>
       <div class="item_list">
            <label for="description">Description</label>
            <input type="text" name="description"
                   class="description"
                   placeholder="Description" width="120"/>
                {{ request.form['description'] }}
            </input>
        </div>
        <div class="item_list">
            <!--input type="text" name="category"
                   class="category"
                   placeholder="Category" width="120"/>
                {{ request.form['category'] }}
            </input-->
            <label for="category">Category</label>
            <select name="category">
                {% for option in option_list %}
                    <option name="{{ option }} ">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="item_list">
            <label for="quantity">Quantity</label>
            <input type="number" min="1" max="1000"
                   class="quantity"
                   name="quantity"/>
                {{ request.form['quantity'] }}

        </div>
        <div class="submit">
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}