
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Item in the Store {% endblock %}</h1>
    <form method="post">
        <div class="item_list">
            <label for="item_name">Name</label>
            <input type="text" name="item_name"
                   placeholder="Name (unique)"
                   value="{{ request.form['item_name'] }}"></input>

        </div>
        <div class="item_list">
            <label for="description">Description</label>
            <input type="text" name="description" placeholder="Description" width="120">
                {{ request.form['description'] }}
            </input>
        </div>
        <button type="submit">Submit</button>
    </form>
{% endblock %}