{%  extends 'base.html' %}

{%  block content %}
    <div class="item_list">
    <h1>{%  block title %} Items {% endblock %}</h1>
        <table>
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th class="quantity">Quantity</th>
        </tr>
        {% for _,v in store_items.items() %}
            <tr class="table_row">
                <td>{{ v['category'] }}</td>
                <td>{{ v['description'] }}</td>
                <td class="quantity">{{ v['quantity'] }}</td>
                <td class="edit"><a href="/update?id={{ v['hash'] }}">&#9998;</a></td>
                <td class="edit"><a href="/delete?id={{ v['hash'] }}">&#x1F5D1;</a></td>
            </tr>
        {% endfor %}
        </table>
        <div class="create">
            <a href="/create">Create New</a>
        </div>
    </div>

{%  endblock %}